<!DOCTYPE html>
<html>
<head>
    <title>Cloud Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="overlay">

    <div class="center-cards">
        <div class="card">Cloud Environment: Active</div>
        <div class="card">Container Status: Running</div>
        <div class="card">Database Service: Healthy</div>
        <div class="card">Deployment Pipeline: Initialized</div>
    </div>

    <h1>Cloud-Native Application Monitoring Dashboard</h1>

</div>

</body>
</html>
